.slideShowContainer {
  display: flex;
  position: relative;
}
.imageTitle {
  font-size: 40px;
  color: var(--primary-font-color);
  font-weight: bolder;
  display: flex;
}

.slideImageContainer {
  background-position: center center;
  display: flex;
  background-size: cover;
}

.slideImageInfo {
  display: flex;
  flex-direction: column;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  width: 50%
}

.imageDate {
  padding: 1rem;
  border-bottom: 10px solid #66ccff;
  display: flex;
  color: var(--secondary-font-color);
  font-size: 18px;
  width: 30px;
}

@media screen and (max-width: 800px) {
  .slideImageInfo {
    width: 100%;
  }
}
