.slideShowContainer {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  padding: 1rem;
}

.slide {
  transition: all ease-in-out 1s;
  opacity: 0;
  position: absolute;
}

.slide .active {
  opacity: 1;
  transition: all ease-in-out 1s;
}

.imageTitle {
  font-size: 24px;
  color: var(--primary-font-color);
  font-weight: bolder;
}

.slideImageContainer {
  display: flex;
}

.slideImage {
  max-width: 750px;
  width: 100%;
  min-height: 40vh;
}

.slideImageInfo {
  display: flex;
  flex-direction: column;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  padding: 1rem;
}
