:root {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  --primary-font-color: #ffffff;
  --secondary-font-color: lightgray;
  --font-gray-color: gray;
  --primary-font-size: 15px;
  --primary-font-weight-light: 400;
  --primary-pointer-cursor: pointer;
  --section-header-color: #212121;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
}

.sectionCardContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sectionHeader {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.sectionTitle {
  font-size: 90px;
  font-weight: 700;
  color: var(--section-header-color);
}

.sectionIcon {
  width: 65px;
}

.siteIconDark {
  width: 22vw;
}

.sectionIconDark {
  width: 50px;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebarSectionTitle {
  font-size: 22px;
  font-weight: 600;
  color: var(--section-header-color);
}

@media screen and (max-width: 800px) {
  .sectionTitle {
    font-size: 40px;
  }

  .sidebarSectionTitle {
    font-size: 18px;
  }
  .sectionCardContainer {
    flex-direction: column;
  }
  .sectionIcon {
    max-width: 30px;
  }
  .sidebarContainer {
    width: 100%;
  }
  .siteIconDark{
    width: 60vw;
  }
}
