.layoutContainer {
  display: flex;
  flex-direction: column;
}

.layoutContent {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 3rem;
}

@media screen and (max-width: 800px) {
  .layoutContent {
    flex-direction: column;
  }
}
