.headerContainer {
  display: flex;
  padding: 1.5rem 2rem 4rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/header.jpg");
  background-size: cover;
  background-position: center center;
  flex-direction: column;
  background-repeat: no-repeat;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  align-self: flex-start;
}

.siteLogo {
  max-width: 35vw;
  cursor: pointer;
}

.headerRightSide {
  display: flex;
}

.menuIcon {
  font-size: 1.75rem;
  color: var(--secondary-font-color);
  display: none;
  cursor: var(--primary-pointer-cursor);
}

.menuContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  width: 225px;
  height: 100vh;
  z-index: 800;
  background-color: #282828;
  overflow-y: scroll;
}
.sidebarContainer::-webkit-scrollbar {
  display: none;
}

.articleTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25vh;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
  .headerContainer {
    padding: 0.75rem;
  }

  .menuIcon {
    display: block;
  }
  .menuContainer {
    display: none;
  }
  .siteLogo {
    max-width: 250px;
  }
}
