.footerContainer {
  background-color: #1d1d1d;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  display: flex;
  gap: 5rem;
} 

.footerTopContainer {
  display: flex;
  justify-content: space-evenly;
}

.siteLogoContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.siteLogoFooter {
  max-width: 250px;
  width: 100%;
  height: fit-content;
}

.copyRightText{
    font-size: 14px;
    color: var(--font-gray-color);
}

.footerLinkItem {
  display: flex;
  flex-direction: column;
}

.footerLinkTitle {
  color: var(--secondary-font-color);
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 700;
}

.footerLink {
  color: var(--font-gray-color);
  font-size: 14px;
  padding: 5px 0;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
}
.footerLink:hover {
  text-decoration: underline;
}

.socialMediaContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialIcon {
  font-size: 2.75rem;
  color: var(--secondary-font-color);
}

@media screen and (max-width: 800px) {
    .footerTopContainer{
        flex-direction: column;
        gap: 2rem;
    }
}