.articleCard {
  background-position: center center;
  display: flex;
  background-size: cover;
  align-items: flex-end;
}

.articleCardTitle {
  color: var(--primary-font-color);
  font-weight: 700;
  font-size: 24px;
}

.articleCardInfo {
  background-color: rgba(0, 255, 0, 0.8);
  display: flex;
  width: 100%;
  padding: 1rem;
}
